body {
    background: url("../images/background.jpg");
    width: 100vw;
    position: fixed;
}

.Game {
    margin: 0;
    width: 375px;
    height: 667px;
    transition: all linear 400ms;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(0deg, rgba(255,255,255,0) 26%, rgba(252,252,252,0.6881127450980392) 60%, rgba(252,252,252,0) 90%);
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,0) 26%, rgba(252,252,252,0.6881127450980392) 60%, rgba(252,252,252,0) 90%);
    background: linear-gradient(0deg, rgba(255,255,255,0) 26%, rgba(252,252,252,0.6881127450980392) 60%, rgba(252,252,252,0) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#fcfcfc",GradientType=1);
}

.lifeBar{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: -30px;
    left: 295px;
    width: 80px;
}

.life, .noLife{
    width: 18px;
    height: 18px;
}

.life:before, .noLife:before {
    content: '\2665';
    font-size: 2em;}

.life:before {
    color: red;
}
.noLife:before {
    color: black;
    opacity: 0.4;
}



