body {
    background: linear-gradient(180deg, rgba(0,157,255,1) 0%, rgba(165,211,240,1) 100%);
}
.Game {
    margin: 0 auto;
    /*border: 1px #75cac3 solid;*/
    width: 375px;
    height: 667px;
}


