.homepage{
    background: url('../images/background-home.png');
    width: 100vh;
    height: 100vh;
    position: relative;
 }
 img{
    width: 70%;
    height: 70%;
 }
 .linktogame{
    font-family: 'Simpsonfont';
    font-size: 1.5rem;
    background-color: black;
    border: 1px solid black;
    border-radius: 55px;
    box-shadow: 2px 5px 5px black;
    margin: 10px;
    margin-top: 130px;
 }
 .buttons_homepage{
    position: absolute;
    margin-top: 397px;
    margin-left: 56px;
 }
 a{
    color: yellow;
    text-decoration: none;
 }