@font-face{
    font-family: 'Simpsonfont';
    src: url(../assets/Simpsonfont.ttf);
}

body{
    font-family: 'Simpsonfont';
}

.title {
    font-family: 'Simpsonfont';
    text-align: center;
    color: black;
}

h1{
    color: black;
}

img{
    width: 30%;
    height: 30%;
}