
.bart{
    border: 1px solid black;
    position : absolute;
    margin : auto;
    width: 30px;
    height: 30px;
    top: -35px;
    /* text-align: center;
    transition-duration: 100ms;
    transition-property: left;
    transition-timing-function: linear; */
    
}

