.bart{
    position : absolute;
    transform: translate(-50%, -50%);
    width: calc(420px / 6);
    margin : auto;
    height: 55px;
    top: -26px;
    animation: animate 1s steps(6) infinite; 
    transition: all linear 100ms ;
    background: url("../images/sprite-bart.png");
}
@keyframes animate {
    from {
        background-position:0;
    }
    to {
        background-position:420px;
    }
}


