/* Style for Pad */
.widthTab {
    position: absolute;
    bottom: 65px;  
    transition: all linear 25ms;
}
.TabBarre {
    width: 100%;
    height: 55px;
    background: url("../images/homer_tab.png") no-repeat;
    background-size: cover;
} 