/* Style for Pad */
.TabBarre {

    width: 60px;
    height: 10px;
    background-color: black;
    border: solid 2px;
    box-shadow: 2px 2px 2px grey;;
    position: absolute;
    bottom: 50px;   
    left: 50%;
    /* transform: translate(-50%, 0); */
} 