.title{
  text-align: center;
  font-family: 'Simpsonfont';
  font-size: 2.5em;
  margin: 20px
}
.iconsFlèche{
  width: 50px;
  height: 50px;
}
.iconCoeur{
  width: 40px;
  height: 40px;
}
.iconSong{
  width: 20px;
  height: 20px;
}
.block{
  float: left;
  margin-top: 435%;
  padding : 4px;
  margin-right : 100%;
  margin: 6px 15px 10px 5px;
  font-size: 1rem;
  background: white;
  color: black;
  border-radius: 50px;
  border: 3px solid black;
}

button {
  border: none;
}

.alignItems{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.x{
  margin: 50px;
}