@font-face{
    font-family: 'Simpsonfont';
    src: url(../assets/Simpsonfont.ttf);
}

.contenu{
    text-align: center;
}

.contenu, .looser {
    color: white;
}

.button{
    font-family: 'Simpsonfont';
    margin: 15% 5% 5% 5%;;
    padding: 1.5%;
    font-size: 1rem;
    background: white;
    border-radius: 50px;
}

.looser{
    font-family: 'Simpsonfont';
}