@font-face{
    font-family: 'Simpsonfont';
    src: url(../assets/Simpsonfont.ttf);
}

.contenu{
    text-align: center;
}

.looser {
    font-family: 'Simpsonfont';
    font-size: 2.5rem;
    text-shadow: 2px 2px 2px white;
    color: black;
    margin-top: 123%;
}

.button_end1{
    font-family: 'Simpsonfont';
    padding: 2.7%;
    margin: 0px 15px 10px 5px;
    font-size: 1rem;
    background: black;
    color: white;
    border-radius: 50px;
}

.button_end1 a{
    text-decoration: none;
    color: white;
}
