@font-face{
    font-family: 'Simpsonfont';
    src: url(../assets/Simpsonfont.ttf);
}

.contenu{
    text-align: center;
}

.button{
    font-family: 'Simpsonfont';
    margin: 15% 5% 5% 5%;;
    padding: 1.5%;
    font-size: 1rem;
    background: black;
    color: white;
    border: black;
    border-radius: 50px;
}

.looser1{
    font-family: 'Simpsonfont';
    font-size: 2.5rem;
}